#cas form {
    display:block;
    margin:18px 0 0;
    padding:0;
    width:100%;
    background:#fff;
}

#cas fieldset {
    border:0;
    margin:0;
    padding:0;
    float:left;
    clear:none;
    width:auto;
}

#cas fieldset legend {
    display:none;
}

#cas #login {
    float:left;
    margin:0 -296px 0 0;
    padding:15px;
    width:288px;
    min-height:15em;
    background:#eee;
    position:relative;
    border:0;
}

#cas #login h2 {
    border-bottom:1px solid #ddd;
    padding:3px 0;
    font:normal 400 17px Georgia, "Times New Roman", Times, serif;
    color:#333;
}

#cas #login label {
    font-size:13px;
}

#cas #login label span.accesskey {
    text-decoration:underline;
}

#cas #login input {
    letter-spacing:1px;
    width:100%
}

#cas #login input .action-button {
    width:100px;
}

#cas #login .check input {
    position:relative;
    left:-4px;
    height:auto;
}

#cas #login .check label {
    float:none;
    xwidth:auto;
    line-height:1.8;
}

#cas #login .btn-row {
    position:relative;
    top:15px;
    padding-top:10px;
    border-top:1px solid #ddd;
    /*width:100%;*/
}

#cas #login .btn-row a{
    font-weight:bold;
    color:#39683E;
    text-decoration:underline
}

#cas #login .btn-row a:hover{
    color:#39683E;
    text-decoration:none;
}

a {
    font-weight:bold;
    color:#333;
}

a:hover {
    /*font-weight:bold;*/
    color:#e60000;
}

* html #cas #login .btn-row {
    top:5px;
} /* IE6 */

#cas #login .btn-submit {
    float:none;
    display:inline;
    letter-spacing:0;
}

* html #cas #login .btn-submit {
    background:#ffd;
}

#cas #login .btn-reset {
    float:none;
    margin-left:5px;
    border:0;
    border-left:1px solid #ddd;
    background:transparent;
    color:#777;
    text-transform:lowercase;
    letter-spacing:0;
}

#cas #sidebar {
    float:left;
    margin-left:296px;
    padding:18px 15px;
}

#cas #sidebar h3 {
    font:normal 400 14px Georgia, "Times New Roman", Times, serif;
    color:#555;
    margin:18px 0 0;
    padding:6px 0 3px;
}

#cas #sidebar p {
    margin:0 0 18px;
    padding:0;
    color:#555;
    font-size:1.1em;
}

#cas #list-languages ul {
    margin:0;
    padding:0;
    line-height:1.5;
    list-style:none;
}

#cas #list-languages ul li {
    display:inline;
    padding:0 5px;
    border-right:1px solid #ccc;
}

#cas #list-languages ul li.first {
    padding-left:0;
}

#cas #list-languages ul li.last {
    padding-right:0;
    border:0;
}

#cas #footer p {
    margin:0 0 1em 0;
    padding:0;
}

/* RESET --------------------------------- */
/* reset some properties for elements since defaults are not crossbrowser - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html,body,div,span,h1,h2,h3,p,a,img,ul,li,fieldset,form,label,legend {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
}

:focus {
    outline:0;
}

ul {
    list-style:none;
    font-size:1.1em;
    padding:0 0 18px 40px;
}

/* browser default font-size is 16px which is too big so we make it 16px x 62.5% = 10px */
body {
    font:normal 400 62.5%/1.0 Verdana, sans-serif;
    min-width:960px;
    background:#fff;
    color:#333;
}

/*
 - used to clear or contain floats within a non-floated container
 - this ruleset is used by UAs that handle :after - not IE - see ie_cas.css for IE fix
http://www.positioniseverything.net/easyclearing.html and http://www.ejeliot.com/blog/59 */
#header:after, #content:after, #footer:after/*, .clearfix:after*/ {
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}


/* HEADER --------------------------------- */
#header {
    position:relative;
    top:0;
    left:0;
    padding-top:52px;
    background:#fff;
    width:951
}

#header h1#app-name {
    clear:both;
    padding:0 0 0 25px;
    background:#210f7a;
    color:#fff;
    font:normal 400 2.8em/2.5em Georgia,"Times New Roman", serif;
} /* d21033 */

/* CONTENT --------------------------------- */
#content {
    clear:both;
    padding:1px 0;
    /*margin:0 25px 2em;*/
}

#content h2 {
    margin:0 0 .5em 0;
    font-size:1.3em;
    font-weight:400;
    color:#000;
    xborder-bottom:1px solid #eee;
    padding:3px 0;
    xletter-spacing:-1px;
}

.messageBox {
    font:1em arial, helvetica, sans-serif;
    font-size: 13px;
    margin-top: 15px;
    margin-left: -40px;
}

#content h3 {
    font:1em arial, helvetica, sans-serif;
    font-weight:400;
    font-size: 13px;
}

#content p {
    line-height:1.5;
    font-size:14px;
    font-family: VodafoneRg;
    padding:0 0 18px;
}

/* FOOTER --------------------------------- */
#footer {
    clear:both;
    position:relative;
    margin:0 25px 1em;
    border-top:1px solid #ccc;
    padding:0 0 1px 0;
    background:transparent;
    color:#999;
}

#footer img#logo {
    position:absolute;
    right:0;
    top:0;
    margin-top:10px;
}

#footer div {
    clear:left;
    margin:1em 5px .5em;
    overflow:hidden;
}

/* MESSAGES --------------------------------- */
.info, .errors, .success {
    clear:both;
    margin:18px 0;
    padding:20px 20px 20px 100px;
    font-size:10px;
    line-height:1.5;
}

.info {
    border:1px dotted 008;
    background:#eff url(../images/info.gif) no-repeat 20px 18px;
    color:#008;
}

.errors {
    border:1px dotted #d21033;
    background:#fed url(../images/error.gif) no-repeat 20px 18px;
    color:#d21033;
    padding-bottom: 40px;
    width:400px;
    height: 25px;
    margin-left:100px;
    font-size: 13px;
}

.success {
    border:1px dotted #390;
    background:#dfa url(../images/confirm.gif) no-repeat 20px 18px;
    color:#390;
    width:400px;
    height: 25px;
    margin:0px auto;
    padding-bottom:40px;
    margin-bottom: 10px;
}

#content .errors h2, #content .success h2 {
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:18px;
    line-height:48px;
    font-weight:400;
    margin:0 18px 0 0;
    padding:0;
}

#content .success h2 {
    color: #008 !important;
}

#content .errors h2 {
    color:#b00 !important;
}

#content .success h2 {
    color:#060 !important;
}

/* static messages */
#content #msg p {
    padding:0;
}

/* FORMS --------------------------------- */
label {
    cursor:pointer;
    font-size:13px;
    color:#333333;
}

input {
    border-width:1px;
    font-family:Verdana,sans-serif;
    font-size:1.1em;
    color:#000;
    padding:3px;
    min-height:1.5em;
}

input.btn-submit {
    border-width:2px;
}

.fm-v div.row {
    float:left;
    margin:0;
    font-weight: bold;
    padding:.5em 0;
}

.fm-v div.row label {
    float:left;
    /*width:100%;*/
    line-height:1.5;
    font-size:13px;
}

.fm-v div.row input.btn-submit {
    display:block;
    margin:0;
}

/* highlight errors */
input.error {
    background:#FFEFEF;
    color:#b00;
}

/* mark as required */
.required {
    background: rgba(255, 0, 0, 0.05);
}

.loginInputSize{
    width: 310px;
}

.error {
    background:#ffefef;
}

input.required {
    border-width:1px;
}

#ynfeet{
    font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
    font-size:11px;
    clear:both;
    text-align:center;
    padding:30px 0 10px;
    margin:0;
    color:#4F8A10 !important;
}

#ynfeet p{
    margin:2px 0;
}

#ynfeet a{
    text-align: center;
    color:#333 !important;
    text-decoration:underline !important;
}

#ynfeet a:hover{
    font-size:11px;
    color:#e60000 !important;
    text-decoration:underline !important;
}

#copyright{
    /*font-size:100%;*/
    text-align:center;
}

.footer_position{
    text-align:center;
    padding-top:4px;
}

.footerlink-text {
    color:#484848;
    text-align:center;
}

#roundbox {
    float: left;
    width:320px;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    margin: 10px 45px;
}

#roundbox h3 {
    font-size: 14px;
    line-height:25px;
    background: url(../images/headstrip.jpg); /*background: #365768;*/
/*background: -moz-linear-gradient(top, #acc0cb, #365768);*/
/*background: -webkit-gradient(linear, left top, left bottom, from(#acc0cb), to(#365768));*/
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-radius-topleft:15px;
    border-radius-topright:15px;
    border-bottom: 1px solid #FFFFFF !important;
    height: 27px;
    padding-top: 2px;
    margin-bottom: -4px;
    padding-left: 10px;
    color: #FFFFFF;
    font-weight:bolder;
/*width:320px;*/
}

#roundbox .box {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-radius-bottomleft:15px;
    border-radius-bottomright:15px;
    font-size: 1.0em;
    background-color: white !important;
    border: 1px solid #B3B3B3 !important;
    margin:0;
/*width:320px;*/
}

.sign-in-icon {
    margin: 10px 20px 20px;
    border:none;
}

.action-button {
    /*background: url("../images/bg-btn-signup.png") repeat-x 0 0;*/
    background-color: #7e2182;
    border: 1px solid #521856;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font: 12px Helvetica, Arial, Sans-serif;
    font-weight: bold;
    outline: none;
    width:50px !important;
    left:0px;
    float:left;
    clear:both !important;
    margin:5px;
    margin-right:5px;
    cursor: pointer;
    display:inline-block;
}

.action-button:hover, {
    /*background: url("../images/bg-btn-signup-hover.png") repeat-x 0 0 !important;*/
    background-color:#5E2750;
    border: 1px solid #5E2750;
}

#individual_usr_link_temp {
    font-weight: bold;
    float:right;
    padding:5px;
    margin-right:20px;
}

#account-links {
    font-size: 12px;
    margin: 0px;
    padding-bottom: 60px;
    padding-left: 15px;
    font-family: Arial,helvetica,sans-serif;
}

/*#################################new styles added##############################################*/
.centered {
    margin: 0 auto;
    width: 45%;
}

.login-box {
    float: left;
    width:320px;
    height:270px;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    display:inline;
    padding:0px !important;
}

.sign-in-box {
    float: right;
    width:320px;
    height:300px;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    display:inline;
    padding:0px !important;
}

.login-box h3, .sign-in-box h3{
    width: 336px !important;
    font-family: Arial, helvetica, sans-serif;
    margin: 0px;
    padding-left: 15px;
    font-size: 14px !important;
    line-height:25px !important;
    background-color: #e60000;
    /*background: url(../images/headstrip.jpg) repeat-x;*/
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-radius-topleft: 15px;
    -webkit-border-radius-topright: 15px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom: 1px solid #FFFFFF !important;
    height: 27px;
    color: #FFFFFF;
    font-weight:bolder !important;
    display:inline-block;
    text-align:left;
    margin-right:0px !important;
}

.box {
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    font-size: 12px !important;
    background-color: white !important;
    border: 1px solid #B3B3B3 !important;

    border-top:none !important;
    padding:15px !important;
    padding-bottom: 0px;
    display:inline-block;
    margin:0px;
    height:190px;
}

.horizontal-line {
PADDING-TOP: 22px;
	BORDER-BOTTOM: #b3b3b3 1px solid;
}

.individual-acc-link {
    line-height:30px;
    /*text-align:center;*/
    /*font-weight:bold;*/
    display:inline-block;


}

.individual-acc-link a{
    line-height:15px;
    text-align:center;
}

.corporate-acc-link {
    line-height:35px;
    /*text-indent:15px;*/
}

.corporate-acc-link a {
    line-height:15px;
    text-align:center;
    padding-left:5px;
}

.main-layout {
    width:1000px;
    margin:0px auto;
    padding:20px;
    text-align:left;
}

.center-layout {
   width:800px;
   margin: 0px auto;
   text-align:left;
}

.fm-v clearfix {
   width:800px !important;
   margin: 0px auto !important;
   padding:20px !important;
   float:none; !important;
}

.header img{
    width: 951px;
    padding:0px;
    margin: 0px auto;
}

.header {
    width: 951px;
    padding:0px;
    margin: 0px auto;

}

.individual-user-label {
    float:left;
    vertical-align:middle;
    padding:5px;
}

.new-account-label{
    /*margin-bottom:12px;*/
    vertical-align:middle;
}

#content {
   width:1000px !important;
   margin: 0px auto !important;
}

#msg {
    width:600px ;
   margin: 0px auto ;
}

body {
    text-align:center;
    margin-top:20px;
}

.clear-space {
    height:20px;
}

.panel-clear-space {
    height:25px;
}

.align-bottom {
    vertical-align:bottom;
}

.box-upper {
    height:80%;
}

.openid-link-layout {
VERTICAL-ALIGN: middle! important;
HEIGHT: 70%;
TEXT-ALIGN: center;
padding-top:30px;
}

.rhombus-logo {
    width: 512px;
    height: 1100px;
    position: absolute;
    left: -320px;
    top: -460px;
}

.left_col {
    float:left;
    width:400px;
}
.right_col {
    float:right;
    width:400px;
}

.register_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
    background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
    background-color:#f9f9f9;
    -webkit-border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#333;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}
.register_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
    background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
    background-color:#e9e9e9;
}.register_button:active {
     position:relative;
     top:1px;
 }

 .panel_header {
     border-bottom: 1px solid #cacaca;
     color: #e60000;
     font-family: VodafoneRg;
     font-size: 20px;
     margin: 0 10px 20px 10px;
     padding: 0 0 10px 0;
     text-align: left;
 }


@font-face {
    font-family: 'VodafoneRg';
    src: url('../font/VodafoneRg.eot');
    src: local('VodafoneRg'), url('../font/VodafoneRg.woff') format('woff'), url('../font/VodafoneRg.ttf') format('truetype'), url('../font/VodafoneRg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}




